* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(220deg, #243766, #294089, #2865bb);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;

    color: #FFF;
}

@-webkit-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}

header {
    display: flex;
    background: #b4c2f36e;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    margin-left: 5px;
    font-weight: 700;
}

ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

a {
    color: #FFF;
}

.container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 0 auto;
    width: 80%;
}

.main-text {
    padding: 5rem 0 2rem; 
}

.main-text h4 {
    font-weight: 500;
}

.main-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: 900;
}

.main-text p {
    display: block;
    width: 600px;
    text-align: justify;
}

.btn {
    padding: 10px;
    background-color: #12234B;
    border-radius: 5px;
    margin-right: 15px;
    transition: all .5s ease;
    color: #FFF;
}

.btn:hover{
    background-color: #091432;
}

.main-img img {
    position: absolute;
    mix-blend-mode: multiply;
    top: 20%;
    right: 9%;
}

.btn-scroll {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
    background-color: #12234B;
    width: 50px;
    height: 50px;
    border-radius: 999px;
    margin: 100px auto 150px;


    cursor: pointer;
}

i {
    color: #FFF;
}

#sobre, #projetos {
    padding: 0 9%;
}

#sobre h2, #projetos h2 {
    margin-top: 20px;
}

#sobre div {
    display: flex;
    margin-top: 20px;
    margin-bottom: 60px;
}

#sobre div img {
    margin-right: 20px;
    max-height: 400px;
    object-fit: cover;
}

#sobre div p {
    font-size: 1.2rem;
    text-align: justify;
}

#projetos p {
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 60px;
}
#projetos2 p {
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 60px;
    font-size: x-large;
}

#apoie {
    text-align: center;
    margin-bottom: 60px;
}

#apoie .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
    width: 600px;
    background-color: rgba(255, 255, 255, .8);
    padding: 40px;
    border-radius: 10px;
    color: #000;

    margin: 30px auto 0;
}

#apoie form {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

#apoie form .btn {
    width: 100px;
    cursor: pointer;
}

#apoie form div {
    text-align: left;
}

input {
    height: 30px;
    width: 250px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #363636;
    padding-left: 5px;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 90%;
    }

    .main-text {
        width: 450px;
    }

    .main-text h1 {
        font-size: 2rem;
    }

    .main-text p {
        font-size: 14px;
        width: 450px;
    }

    .main-img img {
        position: absolute;
        mix-blend-mode: multiply;
        top: 20%;
        right: 9%;
        width: 400px;
    }

    #sobre div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    #sobre div p {
        margin-top: 20px;
    } 

    #sobre div img {
        width: 100%;
        object-fit: cover;
        margin: 0 auto;
    }
    #sobre2 div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 60px;
        font-size: x-large;
    }
    .btn-scroll {
        margin-bottom: 250px;
    }
}

@media screen and (max-width: 425px) {
    .navigation {
        display: none;
    }

    header {
        width: 100%;
        justify-content: center;
    }

    #apoie form {
        grid-template-columns: 1fr;
        
    }
}
.navigation1:hover {
    color:red
}
.video{
    
    margin-top: 60px;
    margin-left: 275px;
  height: 400px;
  width: 600px;
  flex-direction:row-reverse;
}
.principal{
    display: flex;

}
